# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter specific files
/android/key.properties
/android/**/keystore.properties
/lib/generated_plugin_registrant.dart
/flutter_*.png

# IDE specific files
/.idea/
*.launch

# Gradle
.gradle/
**/build/
!build/generated/

# Fastlane
/fastlane/report.xml

# VS Code
/.vscode/launch.json
/.vscode/tasks.json
/.vscode/extensions.json

# Xcode
**/*.mode1v3
**/*.mode2v3
**/*.moved-aside
**/*.pbxuser
**/*.perspectivev3
**/*~.nib
**/*.xcworkspace
**/*.xccheckout
**/*.xcscheme
**/*.xcsettings

# Android
**/*.jks
**/*.keystore

# Backup files
*~
notes.md
